{% extends "base.html" %}
{% block content %}   
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="page-header">Cell Info</h2>
      <form action="#" method="post" name="cell info">
          <p>
            <h3>
              Cell Name: {{cell_form.cell_name(size=20, value=c.name)}}
            </h3>
          </p>
          <p>
            <h3>
              Takt Time: {{cell_form.cell_takt(size=5,value=c.takt)}} sec.            
            </h3>
          </p>
          <input class="btn btn-primary" type="submit" value="Submit">
      </form>
      <br>
      <br>
      
      {% for shift in c.shifts: %}
        <div style="border:5px solid grey; padding:25px; border-radius:25px">
        <h3 class="page-header">
          Shift #{{c.shifts.index(shift)+1}}
          <a class="btn btn-primary" href="#" style:"float:right" role="button">
            Submit
          </a>
          <a class="btn btn-danger" href="#" role="button" style="align:right">
            Remove
          </a>
        </h3>
        <p>
          <h4>
            Start:{{shift_form[c.shifts.index(shift)].start(size=5,value=shift['start'])}}
          </h4>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><a class="btn btn-info" href="#" role="button">Add New Break</a></th>
              <th>Start</th>
              <th>End</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for break in shift['breaks']: %}
              <tr>
                <td><h4>Break #{{shift['breaks'].index(break)+1}}</h4></td>
                <td>{{brk_info[c.shifts.index(shift)][shift['breaks'].index(break)].start(size=5,value=break[0])}}</td>
                <td>{{brk_info[c.shifts.index(shift)][shift['breaks'].index(break)].end(size=5,value=break[1])}}</td>
                <td><a class="btn btn-danger" href="#" role="button">Remove</a></td>
              </tr>
            {% endfor %}        
          </tbody>
        </table>
        <p>
          <h4>
            End: {{shift_form[c.shifts.index(shift)].end(size=5,value=shift['end'])}}
          </h4>
        </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        
      {% endfor %}
      <a class="btn btn-info" href="#" role="button">Add New Shift</a>
    
  </div>
{%endblock %}
