{% extends "base.html" %}
{% block content %}   
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Cell Dashboard</h2>      
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              {% for label in labels: %}
                <th><h3>{{label}}</h3></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for mach in data: %}        
              <tr>
                <td><h3>{{mach}}</h3></td>
                {% for label in labels: %}
                  <td><h3>{{mach[label]}}</h3></td>
                {% endfor %}
              </tr>
            {% endfor %}                 
          </tbody>
        </table>        
      </div>
  </div>
{%endblock %}
