{% extends "base.html" %}
{% block content %} 
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Download Logs</h2>      
      <div class="table-responsive">
        <table class="table table-striped">
          <form action="/logs" method="post">
          <tbody>
                
              <tr>
                <td> Machine:
                    <select name=machine>
                    {% for mach in machines %}
                    <option value="{{mach.ident}}">{{mach.name}}</option>
                    {% endfor %}
                    </select>
                </td><td></td><td></td>

              </tr>
              <tr>
                <td> Start date: </td>
                <td><input type="text" name="start"></td>
                <td>YYYY MM DD HH MM format</td>
              </tr>
                <td> End date: </td>
                <td><input type="text" name="end"></td>
                <td>YYYY MM DD HH MM format</td>
              </tr>                
              <tr>
                <td> <input type="submit" value="Get Log"></td>
                <td></td><td></td>
              </tr>    
          </tbody>
          </form>
        </table>        
      </div>
  </div>
{%endblock %}
